*{
    font-size: 22px;
    color: white;
}
body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 69px;
}
/* Header */
header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid white;     
    background-color: black;
    opacity: 0.9;
    position: fixed;
    z-index: 2;
    width: inherit;
}
a{
    text-decoration: none;
}
.sections{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.sections li{
    margin: 10px; 
}
/* Our Mission section */
.ourMission{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    height: 800px;
}
.ourMission img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.missionText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
}
